$navbar-default-bg: #000
$navbar-default-border: lighten($navbar-default-bg, 6.5%)
$navbar-default-link-color: #fff
// $gray-base: #fff
@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap

$grid: 9
$grid_width: 65px
$grid_height: 64px

body
  background: image-url("retina_wood.png")


.table.back
  background: #fff
  opacity: 0.8

.control
  margin-right: 5px

.player
  font-size: 130%
  font-weight: bold
.score
  font-size: 130%
  font-weight: bold
.player1
  background: lighten(#0FC6FF, 30%)
.player2
  background: lighten(#E8DB0D, 30%)
.player3
  background: lighten(#FF1B40, 30%)
.player4
  background: lighten(#02D90D, 30%)

.result
  padding: 10px
  border-radius: 5px

.current
  border: 3px solid #fff

#board
  $border: #333
  $background: #444
  border-right: 5px solid $border
  border-bottom: 5px solid $border
  width: $grid_width * 9 + 5
  height: $grid_height * 9 + 5
  position: relative
  .grids
    .grid
      width: $grid_width
      height: $grid_height
      float: left
      border-left: 5px solid $border
      border-top: 5px solid $border
      background: $background
      &.player1
        background: darken(#0FC6FF, 30%)
      &.player2
        background: darken(#E8DB0D, 30%)
      &.player3
        background: darken(#FF1B40, 30%)
      &.player4
        background: darken(#02D90D, 30%)
      &.next
        background: #ddd
  .piece
    position: absolute
    width: 56px
    height: 56px
    margin: 5px auto
    border-radius: 50%
    transition: all 0.5s linear 0
    @for $i from 0 through $grid
      &.row#{$i}
        top: $grid_height * $i + 1px
      &.col#{$i}
        left: $grid_width * $i + 7px
  .wood
    position: absolute
    z-index: 10
    &.hover
      display: none
      background: #fff
      z-index: 2
    &.vertical
      width: 5px
      height: $grid_height * 2 + 5px
      border-radius: 5px
    &.horizontal
      width: $grid_width * 2 + 5px
      height: 5px
      border-radius: 5px
    @for $i from 0 through $grid+1
      &.row#{$i}
        top: $grid_height * $i
      &.col#{$i}
        left: $grid_width * $i
  .wood_point
    &:hover + .wood
      display: block
    position: absolute
    // background: rgba(255,255,255, 0.5)
    z-index: 5
    &.vertical
      width: 12px
      height: $grid_height - 5px
      border-radius: 5px
      margin-top: 5px
      margin-left: -4px
    &.horizontal
      width: $grid_width - 5px
      height: 12px
      border-radius: 5px
      margin-left: 5px
      margin-top: -4px
    @for $i from 0 through $grid+1
      &.row#{$i}
        top: $grid_height * $i
      &.col#{$i}
        left: $grid_width * $i
#case
  margin-top: 10px
  position: relative
  background: rgba(0,0,0,0.8)
  width: $grid_width * 9 + 5
  height: $grid_height * 2 * 2 + 40px
  border-radius: 5px
  .wood
    position: absolute
    width: 8px
    height: $grid_height * 2 + 5px
    border-radius: 5px
    @for $player from 1 through 2
      &.player#{$player}, &.player#{$player + 2}
        top: 10px + ($grid_height * 2 + 15px) * ($player - 1)
    @for $i from 0 through 10
      &.wood#{$i}
        left: 50px * $i
    @for $i from 0 through 5
      &.player3.wood#{$i}, &.player4.wood#{$i}
        left: 50px * ($i+5)
